* {
  text-align: center;
  background: red;
  color: white;
}

header {
  margin-top: 100px;
}

button {
  background-color: brown;
  color: azure;
  font-weight: bold;
  border: 0px solid white;
  border-radius: 11%;
  padding: 5px;
}
